<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url("https://static3.bigstockphoto.com/5/1/1/large1500/115957928.jpg");
            background-repeat: no-repeat;
            background: cover;
        
        }

    </style>
</head>
<body>
    <form  method="post"  action="" >
    <center>
        <h2>Admin Login</h2>
    <label for="#">email:</label>
    <input type="text" name="email" placeholder="Email"><br><br>
    <label for="">password:</label>
    <input type="password" name="password" id="" placeholder="Enter Password"><br><br>
    <button>Submit</button></center>
    <center><a href="#">Forgot password</a></center>
    </form>
</body>
</html>