<!doctype html>
<html lang="en">
    <style>
        .card-body{
            background-color: #FFAB91;
        } 
        .card{
            width: 10%;
        }
        .card img{
            width: 24%;
        }
       

    </style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>view_item</title>
</head>

<body>
    {% for i in items_data %}

   <center>
    <div clas=""></div>
    <h1 class="name">Name: {{item_data[1]}} </h1>
    <h5 class="item_id">item_id: {{item_data[0]}} </h5>
    <h5 class="desc">Description: {{item_data[2]}} </h5>
    <h5 class="cat">Category {{item_data[4]}} :</h5>
    <h5 class="Price">Price: {{item_data[3]}} </h5>
    <h5 class="price">Available Stock: {{item_data[6]}} </h5>
    <div class="card" style="width: 45rem;">

    <img src="/static/{{items_data[5]}}" class="card-img-top" alt="...">
    <div class="button">
        {% if session.get('useremail')%}
        <a href="{{url_for('addreview',itemid=item_data[0])}}"><button class="">Add_Review</button></a>
        {% endif %}
        
        <a href=""><button>Add to cart</button></a>
        <a href=""><button>Back</button></a>

    </div>
    <div class="card-body">
      {% for i in data %}
      <h1 class="name">username:{{i[0]}}</h1><br>
      <h5 class="desc">title:{{i[2]}}</time></h5><br>
      <h6 class="cat">Review:{{i[3]}}</h6><br>
      <h5 class="price">Rating:{{i[4]}}</h5><br>
      <h5 class="price">Date:{{i[5]}}</h5>
      
    
   

</center>
{{% endfor %}}

    
</body>

</html>